$scroll-factor : .5

$background: #333

$header-height : 50px

$color-accent-1: #6abdca
$color-accent-2: #64b986
$color-accent-3: #eab840
$color-accent-4: #ee725d

$duration-transition: 0.25s

$fontsize-default: 18px

$fontfamily-serif: 'Playfair Display', serif