<div class="article-container">

	{% for p in page.collection %}
		{% set first_image = p.media.images|first %}
		<div class="article">
			<div class="preview">
		        	<div class="date">{{ p.date|localizeddate('long', 'none', 'de', 'Europe/Berlin', 'dd. MMMM yyyy') }}</div>
		 		{{ first_image.resize(200,200,'0xddd').html|raw }}
		        </div>
		        <div class="content">
				<div class="summary-container">
					<div class="quotes">&ldquo;</div>
		                       	<div class="summary">{{ p.summary|raw }}</div>  
					<div class="quotes">&rdquo;</div>
		      		</div>
				<div class="divider"></div>
				<div class="page-link">
					<a href="{{ p.url }}">Weiterlesen...</a>
				</div>
			</div>
		
		</div>
	{% endfor %}	
        
</div>
